body{
    font-family: Arial;
}
header {
    background: rgb(245, 245, 220);
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
}

nav {
    width: 135px;
    height: 145px;
    background: rgb(245, 245, 220);
    float: left;
    margin-top: 10px;
    padding: 0;
}
ul{
    text-decoration: none;
    padding: 0;
    margin: 0;

}
li {
    text-decoration: none;
    color: rgb(177, 42, 42);
    font-size: 1.2em;
    width: 107px;
    height: 35px;
    margin: 5px auto ;
    margin-top: 10px;
    background: rgb(245, 245, 220);
    border-radius: 5px;
    list-style-type: none;
    line-height: 37px;
    padding: 0 0 0 6px;

    /*   padding-top: 10px;*/
}

li:hover {
    background: rgb(222, 184, 135);
}

footer {
    background: rgb(245, 245, 220);
    margin: 0 0 0 0;
    text-align: center;
    clear: both;
    display: block;
    padding: 5px;
}

section {
    background: rgb(245, 245, 245);
    display: block;
    float: right;
    width: 400px;
    margin-top: 10px;
}